/* CSS declarations go here */
/*body {
    font-family: 'Titillium Web', sans-serif;
}*/

div.photo {
    width: 270px;
    float: left;
    margin: 5px;
}

.photo img {

}

.photo p {
    font-size: 18px;
    padding: 5px;
    width: 240px;
    word-wrap: normal;
}

.selected {
  background-color: #e7e7e7;
}
/*
.mask {
    position: absolute;
    width: 100%;
    height: 100%;
    top: 0px;
    left: 0px;
    background-color: #000000;
    opacity: .4;
    z-index: 1;
}*/

/*
.leaflet-animated-icon {
  border-radius: 50%;
  border: none;
  opacity: .7;
  background: black;
}*/

.leaflet-div-icon {
    border-radius: 50%;
    border: none;
    line-height: 30px;
    font-family: verdana;
    text-align: center;
    color: white;
    opacity: .9;
    vertical-align:middle;
}

.leaflet-div-icon.public {
	/*Original Blue*/
    /*background: #49AFCD;*/
    /*Conflower Blue*/
    /*background: #6495ED;*/
    /*Lime Green*/
    /*background: #32CD32;*/
    /*Black*/
    background: #ddbb00;
}

.leaflet-div-icon.private {
    background: #DA4F49;
}

.invite-row .invite {
    margin: 10px 10px 10px 0;
}
/*
.rsvp-buttons {
    text-align: center;
    margin: 40px 0 40px 0;
}

.description {
    margin: 20px 0 20px 0;
}

.attendance .who {
    margin-bottom: 5px;
}

.attendance .invite {
    text-align: center;
}

input.chosen {
    font-weight: bold;
}*/

.map circle.callout {
    stroke-width: 5px;
    stroke-dasharray: 9, 5;
    stroke-opacity: .8;
    fill: none;
    stroke: red;
}
/*
.attribution {
    position: absolute;
    bottom: 0;
    background-color: white;
    padding: 3px;
    padding-bottom: 0;
}*/

hr { 
    display: block;
    margin-top: 0.5em;
    margin-bottom: 0.5em;
    margin-left: auto;
    margin-right: auto;
    border-style: inset;
    border-width: 1px;
} 

